<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    .footer {
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #3f99ee;
      color: white;
      text-align: center;
      height: 50px;
    }

    .marquee {
      padding-top: 10px;
    }
  </style>
</head>

<body>

  <div class="footer">
    <marquee class="marquee" width="20%" direction="left">
      Blood Bank Management System "Developed by Rudransh, Laxmi, Priyanshu"
    </marquee>
  </div>

</body>

</html>